
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$dahong: rgb(228, 38, 86);

.outlinedText {
    font-family: 'Ubuntu', sans-serif;
    @include mdc-text-field-outline-color(#aaaaaa);
    @include mdc-text-field-focused-outline-color(#aaaaaa);
    @include mdc-text-field-hover-outline-color($dahong);
    @include mdc-text-field-hover-bottom-line-color(#757575);
    @include mdc-text-field-bottom-line-color($dahong);
    @include mdc-text-field-label-color(#757575);
    @include mdc-text-field-ink-color(#3f3f3f);
    @include mdc-text-field-line-ripple-color($dahong)
}
.submitButton {
    @include mdc-button-ink-color(#ffffff);
    @include mdc-button-container-fill-color($dahong);
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
.signUpContainer {
    border-radius: 0.2em;
    margin-bottom: 2em;
}
